In [88]:
import numpy as np
import pandas as pd
import os
import re
# from sklearn.preprocessing import StandardScaler, MinMaxScaler
# import statsmodels.api as sm

In [4]:
path_ref = 'C:\\Users\\tnguyen10\\OneDrive - Deloitte (O365D)\\Documents\\GitHub\\Thesis\\data\\refinitiv'

In [32]:
path_reports = 'C:\\Users\\tnguyen10\\OneDrive - Deloitte (O365D)\\Documents\\GitHub\\Thesis\\data\\reports'

In [33]:
sample = os.listdir(path_reports)
company_list = [word.split('.')[0] for word in sample]
company_list = pd.Series(company_list)
publisher_list = company_list.str.replace('-',' ') #so make it two words
publisher_list = publisher_list.str.replace('ford motor', 'ford')
publisher_list = publisher_list.str.replace('p&g', 'procter')
publisher_list

0            abb
1         adidas
2         airbus
3          apple
4          bayer
         ...
58        toyota
59        veolia
60    volkswagen
61         volvo
62       walmart
Length: 63, dtype: object

In [15]:
df_full = pd.DataFrame()
for xlsx in os.listdir(path_ref):
    if xlsx == 'sample.xlsx':
        continue
    temp_df = pd.read_excel(os.path.join(path_ref,xlsx))
    df_full = pd.concat([df_full,temp_df])

In [40]:
df_full.to_excel('refnitiv.xlsx')

In [18]:
df_full.columns = ['identifier', 'company', 'resource_use', 'emissions', 'environmental_innovation', 'CSR_strategy','total_revenue', 'profit_margin', 'SIC', 'country', 'TRBC']
df_full

,identifier,company,resource_use,emissions,environmental_innovation,CSR_strategy,total_revenue,profit_margin,SIC,country,TRBC
0,SUIJ.J,Sun International Ltd,86.078431,86.226415,0.000000,89.112903,6.646515e+08,0.049106,NaN,South Africa,Casinos & Gaming
1,MOED.MI,Arnoldo Mondadori Editore SpA,70.134228,66.346154,0.000000,54.109589,9.663988e+08,0.057660,NaN,Italy,Consumer Publishing
2,SCHA.OL,Schibsted ASA,85.570470,98.397436,0.000000,77.976190,1.558924e+09,-1.477082,NaN,Norway,Consumer Publishing
3,ELUXb.ST,Electrolux AB,96.621622,92.465753,66.379310,67.843866,1.295951e+10,-0.009787,NaN,Sweden,"Appliances, Tools & Housewares"
4,JM.ST,JM AB,78.301887,90.372671,84.074074,71.897810,1.513000e+09,0.097098,NaN,Sweden,Homebuilding
...,...,...,...,...,...,...,...,...,...,...,...
1345,AKFYE.IS,Akfen Yenilenebilir Enerji AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Turkey,Electric Utilities
1346,SAEN3.SA,Safira Holding SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brazil,Electric Utilities
1347,ZPRS.TA,Zephyrus Wing Energies Ltd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Israel,Electric Utilities
1348,CGEE3.SA,Companhia Estadual de Geracao de Energia Eletr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brazil,Electric Utilities
1349,GGR.MC,Grupo Greening 2022 SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spain,Electric Utilities

In [19]:
df_full.drop(['SIC'], axis = 1, inplace = True)

In [24]:
df_filtered = df_full[df_full['CSR_strategy'].notnull()]
df_filtered.reset_index(drop = True, inplace = True)

In [30]:
df_filtered['average'] = df_filtered[['resource_use', 'emissions', 'environmental_innovation']].replace(0, np.nan).mean(axis = 1)

C:\Users\tnguyen10\AppData\Local\Temp\ipykernel_8328\3611981513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['average'] = df_filtered[['resource_use', 'emissions', 'environmental_innovation']].replace(0, np.nan).mean(axis = 1)

In [31]:
df_filtered

,identifier,company,resource_use,emissions,environmental_innovation,CSR_strategy,total_revenue,profit_margin,country,TRBC,average
0,SUIJ.J,Sun International Ltd,86.078431,86.226415,0.000000,89.112903,6.646515e+08,0.049106,South Africa,Casinos & Gaming,86.152423
1,MOED.MI,Arnoldo Mondadori Editore SpA,70.134228,66.346154,0.000000,54.109589,9.663988e+08,0.057660,Italy,Consumer Publishing,68.240191
2,SCHA.OL,Schibsted ASA,85.570470,98.397436,0.000000,77.976190,1.558924e+09,-1.477082,Norway,Consumer Publishing,91.983953
3,ELUXb.ST,Electrolux AB,96.621622,92.465753,66.379310,67.843866,1.295951e+10,-0.009787,Sweden,"Appliances, Tools & Housewares",85.155562
4,JM.ST,JM AB,78.301887,90.372671,84.074074,71.897810,1.513000e+09,0.097098,Sweden,Homebuilding,84.249544
...,...,...,...,...,...,...,...,...,...,...,...
3464,GWIND.IS,Galata Wind Enerji Anonim Sirket,15.993266,47.012579,90.038314,17.000000,6.353022e+07,0.879290,Turkey,Electric Utilities,51.014720
3465,RNW.OQ,Renew Energy Global PLC,99.516129,97.138554,99.074074,98.202397,7.819223e+08,-0.270889,United Kingdom,Independent Power Producers,98.576252
3466,BIOEN.IS,Biotrend Cevre ve Enerji Yatirimlari AS,2.020202,0.786164,37.356322,0.000000,6.586317e+07,0.252451,Turkey,Electric Utilities,13.387562
3467,ANE.MC,Corporacion Acciona Energias Renovables SA,24.410774,44.496855,0.000000,14.606742,4.656464e+09,0.174443,Spain,Electric Utilities,34.453815
3468,GVOLT.LS,Greenvolt Energias Renovaveis SA,71.548822,37.264151,82.183908,91.176471,1.608650e+08,0.063821,Portugal,Independent Power Producers,63.665627

In [34]:
# # creating a function to filter columns based on keywords
def filter_on_column(keywords,df,column):
    # creating a regex pattern
    pattern = '|'.join(list(set(keywords)))
    # creating the masking filter 
    masking = []
    for string in column:
        if re.search(pattern,string.lower()):
            masking.append(True)
        else: 
            masking.append(False)
    return df[masking]

In [38]:
#df_sample = filter_on_column(publisher_list, df_filtered, df_filtered['company'])

In [76]:
df_sample = pd.read_excel(os.path.join(path_ref,'sample.xlsx'))

In [77]:
df_sample['average'] = df_sample[['resource use', 'emissions', 'environmental innovation']].mean(axis = 1)

In [78]:
df_sample['green_practice'] = StandardScaler().fit_transform(np.array(df_sample['average']).reshape(-1,1))
df_sample['green_communication'] = StandardScaler().fit_transform(np.array(df_sample['strategy']).reshape(-1,1))

In [98]:
df_sample['discrepancy_index'] = df_sample['strategy']-df_sample['average']

In [83]:
df_sentiment = pd.read_csv('sentiment_scores.csv')

In [84]:
df_sentiment.rename(columns = {'Unnamed: 0': 'company'}, inplace = True)

In [99]:
df_linreg = pd.merge(df_sentiment, df_sample, how = 'left')
df_linreg

,company,0,1,2,3,4,5,6,total,resource use,emissions,environmental innovation,strategy,average,green_practice,green_communication,discrepancy_index
0,henkel,-0.007491,-0.007629,0.012023,0.013756,0.004118,0.002563,-0.030222,-0.012884,99.53,82.43,27.62,95.75,69.860000,-0.944383,0.678493,25.890000
1,general-mills,NaN,0.013966,-0.005795,0.019676,0.009944,0.004485,0.007125,0.049402,98.55,78.95,21.53,97.03,66.343333,-1.235565,0.768897,30.686667
2,enel,0.000759,-0.018271,0.006222,0.001978,0.040981,0.019511,0.000442,0.051621,98.82,94.18,95.59,90.07,96.196667,1.236307,0.277326,-6.126667
3,airbus,0.023659,0.003928,0.009152,-0.006690,0.046551,0.013631,0.009065,0.099296,99.43,97.09,95.92,83.49,97.480000,1.342568,-0.187407,-13.990000
4,eversource,0.005571,0.065910,0.009005,0.013049,0.077035,0.022740,0.000113,0.193422,99.83,96.38,69.16,87.01,88.456667,0.595431,0.061204,-1.446667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,dupont,0.006339,0.011108,0.008123,0.000057,0.081427,0.015871,0.031506,0.154431,59.66,26.73,69.96,99.51,52.116667,-2.413541,0.944055,47.393333
59,mcdonald,-0.004740,0.000351,0.027431,0.019437,0.074865,0.019405,0.044869,0.181618,98.28,90.68,67.11,52.73,85.356667,0.338749,-2.359927,-32.626667
60,colgate,-0.002326,0.009628,0.007202,0.014026,0.021664,0.011243,0.060053,0.121489,99.24,93.57,90.48,97.08,94.430000,1.090026,0.772428,2.650000
61,nestle,-0.000185,0.000620,0.029275,0.013297,0.020408,0.046627,0.029277,0.139318,88.82,91.31,85.93,84.52,88.686667,0.614475,-0.114660,-4.166667
62,diageo,NaN,0.009781,-0.002372,0.029024,0.016686,-0.007609,-0.000226,0.045285,81.25,95.05,55.93,97.54,77.410000,-0.319239,0.804917,20.130000

In [100]:
df_linreg['total'] = MinMaxScaler().fit_transform(np.array(df_linreg['total']).reshape(-1,1))

In [101]:
X = df_linreg['total']
y = df_linreg['discrepancy_index']
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      discrepancy_index   R-squared:                       0.017
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     1.037
Date:                Thu, 04 May 2023   Prob (F-statistic):              0.312
Time:                        16:29:19   Log-Likelihood:                -268.55
No. Observations:                  63   AIC:                             541.1
Df Residuals:                      61   BIC:                             545.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         11.5409      7.099      1.626      0.109      -2.655      25.737
total        -13.7566     13.506     -1.019      0.312     -40.764      13.250
==============================================================================
Omnibus:                        5.293   Durbin-Watson:                   2.446
Prob(Omnibus):                  0.071   Jarque-Bera (JB):                4.739
Skew:                          -0.442   Prob(JB):                       0.0935
Kurtosis:                       4.011   Cond. No.                         7.71
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [97]:
df_linreg

,company,0,1,2,3,4,5,6,total,resource use,emissions,environmental innovation,strategy,average,green_practice,green_communication,discrepancy_index
0,henkel,-0.007491,-0.007629,0.012023,0.013756,0.004118,0.002563,-0.030222,0.326188,99.53,82.43,27.62,95.75,69.860000,-0.944383,0.678493,1.622876
1,general-mills,NaN,0.013966,-0.005795,0.019676,0.009944,0.004485,0.007125,0.423352,98.55,78.95,21.53,97.03,66.343333,-1.235565,0.768897,2.004462
2,enel,0.000759,-0.018271,0.006222,0.001978,0.040981,0.019511,0.000442,0.426814,98.82,94.18,95.59,90.07,96.196667,1.236307,0.277326,-0.958981
3,airbus,0.023659,0.003928,0.009152,-0.006690,0.046551,0.013631,0.009065,0.501186,99.43,97.09,95.92,83.49,97.480000,1.342568,-0.187407,-1.529975
4,eversource,0.005571,0.065910,0.009005,0.013049,0.077035,0.022740,0.000113,0.648022,99.83,96.38,69.16,87.01,88.456667,0.595431,0.061204,-0.534227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,dupont,0.006339,0.011108,0.008123,0.000057,0.081427,0.015871,0.031506,0.587196,59.66,26.73,69.96,99.51,52.116667,-2.413541,0.944055,3.357595
59,mcdonald,-0.004740,0.000351,0.027431,0.019437,0.074865,0.019405,0.044869,0.629608,98.28,90.68,67.11,52.73,85.356667,0.338749,-2.359927,-2.698676
60,colgate,-0.002326,0.009628,0.007202,0.014026,0.021664,0.011243,0.060053,0.535808,99.24,93.57,90.48,97.08,94.430000,1.090026,0.772428,-0.317597
61,nestle,-0.000185,0.000620,0.029275,0.013297,0.020408,0.046627,0.029277,0.563621,88.82,91.31,85.93,84.52,88.686667,0.614475,-0.114660,-0.729135
62,diageo,NaN,0.009781,-0.002372,0.029024,0.016686,-0.007609,-0.000226,0.416930,81.25,95.05,55.93,97.54,77.410000,-0.319239,0.804917,1.124157