In [2]:
import numpy as np
import pandas as pd
import os
import re
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import statsmodels.api as sm

In [3]:
path_ref = '..\\data\\refinitiv'

In [19]:
df_sample = pd.read_excel(os.path.join(path_ref,'sample.xlsx'))
df_sentiment = pd.read_csv('sentiment_scores.csv') #drop h&m and dhl
df_similarity = pd.read_csv('similarity_overall.csv')
df_verification = pd.read_csv('verification_scores.csv')

In [37]:
df_sample[df_sample['company'] == 'rio-tinto']

,company,resource use,emissions,environmental innovation,strategy,average_practice,green_practice,green_communication,discrepancy_index
49,rio-tinto,79.17,83.26,50.35,88.54,70.926667,-0.856063,0.169265,0.681803

In [16]:
df_similarity[df_similarity['company'] == 'rio-tinto']

,company,0,1,2,3,4,5,6,7,8,10,11,20,25,average,dissimilarity
56,rio-tinto,0.382896,0.504364,0.355998,0.515717,0.092742,0.334281,0.483329,0.232824,0.408051,NaN,0.21438,0.179743,NaN,0.173357,0.826643

In [8]:
df_sample

       company  resource use  emissions  environmental innovation  strategy
0          abb         62.39      99.39                     36.68     62.18
1       adidas         82.77      90.63                     80.68     76.89
2       airbus         99.43      97.09                     95.92     83.49
3        apple         98.51      97.50                     43.51     87.06
4        bayer         70.38      87.91                     82.94     95.75
..         ...           ...        ...                       ...       ...
59      veolia         74.49      79.00                     84.15     69.16
60  volkswagen         97.25      96.49                     92.69     96.07
61       volvo         96.45      88.41                     95.18     87.55
62     walmart         77.73      88.08                     76.81     87.01
63     inditex         97.61      99.33                     86.79     45.51

[64 rows x 5 columns]

In [8]:
df_sentiment['final_score'] = MinMaxScaler().fit_transform(np.array(df_sentiment['final_score']).reshape(-1,1))

### Preparing the Refinitiv data

In [20]:
df_sample['average_practice'] = df_sample[['resource use', 'emissions', 'environmental innovation']].replace(0, np.nan).mean(axis = 1)

In [21]:
df_sample['green_practice'] = StandardScaler().fit_transform(np.array(df_sample['average_practice']).reshape(-1,1))
df_sample['green_communication'] = StandardScaler().fit_transform(np.array(df_sample['strategy']).reshape(-1,1))
df_sample['discrepancy_index'] = df_sample['green_communication']-df_sample['green_practice']

In [22]:
df_sample['discrepancy_index'] = MinMaxScaler().fit_transform(np.array(df_sample['discrepancy_index']).reshape(-1,1))

In [23]:
df_sample

,company,resource use,emissions,environmental innovation,strategy,average_practice,green_practice,green_communication,discrepancy_index
0,abb,62.39,99.39,36.68,62.18,66.153333,-1.251297,-1.692492,0.481721
1,adidas,82.77,90.63,80.68,76.89,84.693333,0.283825,-0.653553,0.414026
2,airbus,99.43,97.09,95.92,83.49,97.480000,1.342568,-0.187407,0.333176
3,apple,98.51,97.50,43.51,87.06,79.840000,-0.118034,0.064735,0.566850
4,bayer,70.38,87.91,82.94,95.75,80.410000,-0.070838,0.678493,0.644148
...,...,...,...,...,...,...,...,...,...
59,veolia,74.49,79.00,84.15,69.16,79.213333,-0.169922,-1.199508,0.401446
60,volkswagen,97.25,96.49,92.69,96.07,95.476667,1.176690,0.701094,0.477028
61,volvo,96.45,88.41,95.18,87.55,93.346667,1.000325,0.099343,0.418991
62,walmart,77.73,88.08,76.81,87.01,80.873333,-0.032473,0.061204,0.554695
63,inditex,97.61,99.33,86.79,45.51,94.576667,1.102170,-2.869862,0.000000

In [24]:
df_linreg = df_sample[['company','discrepancy_index']]
df_linreg

       company  discrepancy_index
0          abb           0.481721
1       adidas           0.414026
2       airbus           0.333176
3        apple           0.566850
4        bayer           0.644148
..         ...                ...
59      veolia           0.401446
60  volkswagen           0.477028
61       volvo           0.418991
62     walmart           0.554695
63     inditex           0.000000

[64 rows x 2 columns]

In [25]:
df_linreg = pd.merge(df_linreg, df_similarity, how = 'left')
df_linreg = pd.merge(df_linreg, df_sentiment)
df_linreg = pd.merge(df_linreg, df_verification)
df_linreg

,company,discrepancy_index,dissimilarity_total,dissimilarity_total_lim,dissimilarity_average_cluster,dissimilarity_waverage_cluster,dissimilarity_wsum_cluster,dissimilarity_average_cluster_lim,dissimilarity_waverage_cluster_lim,dissimilarity_wsum_cluster_lim,...,sentiment_cluster_waverage_lim,sentiment_cluster_wsum_lim,sentiment_overall_lim,clim_sentiment_overall_lim,clim_sentiment_cluster_average_lim,clim_sentiment_cluster_waverage_lim,clim_sentiment_cluster_wsum_lim,sentiment_cluster_average_lim,verification_score,verification_score_lim
0,abb,0.481721,0.394642,0.395509,0.458221,0.619573,0.462104,0.418272,0.621324,0.451725,...,-0.001103,-0.008820,0.002288,-0.141260,-0.022790,-0.001798,-0.014381,0.024637,0.818533,0.901786
1,adidas,0.414026,0.669004,0.645366,0.745420,0.371327,0.351877,0.730806,0.330754,0.320529,...,0.014501,0.101507,0.214501,-0.304777,-0.207970,-0.030220,-0.211537,0.104891,0.673692,0.793750
2,airbus,0.333176,0.577540,0.763859,0.904083,0.918818,0.527802,0.740525,0.758115,0.422630,...,-0.000019,-0.000175,-0.048930,-0.246560,0.020253,-0.014188,-0.127690,0.004320,0.461097,0.290323
3,apple,0.566850,0.446004,0.514624,0.430209,0.949415,0.585078,0.439572,0.818964,0.531965,...,0.015917,0.143254,0.134180,-0.002250,0.121607,0.003739,0.033651,0.217470,0.000000,0.039101
4,bayer,0.644148,0.693892,0.765657,0.851451,0.916687,0.728271,0.727430,0.862092,0.609459,...,-0.013609,-0.122478,-0.174011,-0.410301,-0.346642,-0.035077,-0.315693,-0.156105,0.688004,0.636029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,veolia,0.401446,0.371148,0.520925,0.460262,0.747798,0.436433,0.321163,0.717563,0.349765,...,-0.001058,-0.009524,0.010622,-0.005208,0.056463,0.004627,0.041646,0.085833,1.000000,1.000000
59,volkswagen,0.477028,0.671546,0.760529,0.742698,0.784993,0.724128,0.715468,0.724936,0.617212,...,0.007255,0.058041,0.041562,-0.094988,-0.110589,-0.007784,-0.062269,0.005641,0.778625,0.744845
60,volvo,0.418991,0.444000,0.506159,0.525119,0.634637,0.485966,0.468848,0.611082,0.435366,...,0.004642,0.037133,-0.002628,-0.066098,-0.054440,-0.000012,-0.000097,0.102913,0.166385,0.000000
61,walmart,0.554695,0.344035,0.375118,0.356359,0.482016,0.244216,0.282690,0.473241,0.215208,...,0.000568,0.004546,0.064169,-0.033170,-0.061344,0.003247,0.025979,-0.049979,1.000000,1.000000
62,inditex,0.000000,0.753664,0.833904,0.871682,1.000000,0.872235,0.815295,0.933970,0.738612,...,-0.001156,-0.010404,-0.038931,-0.162326,-0.185379,-0.011518,-0.103663,0.020316,1.000000,1.000000

In [31]:
df_correlation_scores = pd.DataFrame(columns = ['discrepancy_measure', 'correlation', 'p-value'])

In [30]:
from scipy.stats import pearsonr, ttest_1samp

In [32]:
x = df_linreg['discrepancy_index']
for column in df_linreg.columns[2:]:
    y = df_linreg[column]
    correlation, p_value = pearsonr(x,y)
    temp_df = pd.DataFrame(
        {
            'discrepancy_measure':[column], 
            'correlation':[correlation],
            'p-value':[p_value]
        }
    )
    df_correlation_scores = pd.concat([df_correlation_scores, temp_df], ignore_index = True)

In [33]:
df_correlation_scores

                    discrepancy_measure  correlation   p-value
0                   dissimilarity_total    -0.072638  0.571566
1               dissimilarity_total_lim    -0.170547  0.181425
2         dissimilarity_average_cluster    -0.137835  0.281359
3        dissimilarity_waverage_cluster    -0.194222  0.127187
4            dissimilarity_wsum_cluster    -0.119293  0.351735
5     dissimilarity_average_cluster_lim    -0.086059  0.502451
6    dissimilarity_waverage_cluster_lim    -0.069772  0.586876
7        dissimilarity_wsum_cluster_lim    -0.037696  0.769280
8                     sentiment_overall     0.095820  0.455040
9             sentiment_cluster_average     0.004660  0.971088
10           sentiment_cluster_waverage     0.061403  0.632604
11               sentiment_cluster_wsum     0.070297  0.584055
12               clim_sentiment_overall     0.219188  0.084353
13    climate_sentiment_cluster_average     0.184183  0.148449
14   climate_sentiment_cluster_waverage     0.112861  0.378489
15       climate_sentiment_cluster_wsum     0.133311  0.297601
16       sentiment_cluster_waverage_lim     0.071865  0.575676
17           sentiment_cluster_wsum_lim     0.074130  0.563671
18                sentiment_overall_lim     0.087589  0.494855
19           clim_sentiment_overall_lim     0.142802  0.264211
20   clim_sentiment_cluster_average_lim     0.060112  0.639789
21  clim_sentiment_cluster_waverage_lim     0.090867  0.478784
22      clim_sentiment_cluster_wsum_lim     0.098371  0.443069
23        sentiment_cluster_average_lim     0.003374  0.979060
24                   verification_score    -0.004761  0.970458
25               verification_score_lim     0.025371  0.843536

In [17]:
df_linreg['discrepancy_index'] = MinMaxScaler().fit_transform(np.array(df_linreg['discrepancy_index']).reshape(-1,1))

In [18]:
df_linreg.set_index('company', inplace = True)

In [25]:
df_linreg

,ESG governance,Emission Reduction,Waste Management,Renewable Energy,Plastics Recyling,Electrical Vehicles,Climate Change,Nature Conservation,Sustainable Transportation,Sustainable Agriculure,...,5,6,7,8,10,11,20,25,average,dissimilarity
company,,,,,,,,,,,,,,,,,,,,,
rio-tinto,-0.103401,-0.118888,0.315222,-0.076896,0.623388,-0.104418,0.069384,0.360745,-0.046325,NaN,...,0.334281,0.483329,0.232824,0.408051,NaN,0.214380,0.179743,NaN,0.173357,0.826643
walmart,0.007098,0.063356,0.073705,-0.227604,0.030754,-0.283509,0.094747,0.065251,NaN,0.063302,...,0.182003,0.505852,0.475088,NaN,0.468949,0.243316,0.240421,NaN,0.643641,0.356359
colgate,0.114434,0.066575,-0.044937,-0.419891,0.065245,NaN,-0.005104,-0.015416,NaN,-0.323991,...,NaN,0.191898,0.245663,NaN,0.232664,NaN,0.332284,NaN,0.205470,0.794530
general-mills,-0.062815,0.007971,-0.185231,0.031976,-0.213897,NaN,0.264606,-0.249514,-0.884435,-0.139983,...,NaN,0.413579,0.391257,0.144090,0.506694,0.159895,0.554802,NaN,0.317077,0.682923
hp,-0.080099,-0.158046,-0.027431,0.018113,-0.037755,0.125385,0.041401,-0.157452,0.215793,-0.205014,...,0.467884,0.508401,0.404933,0.341146,0.166339,0.363206,0.189046,NaN,0.543057,0.456943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
adidas,-0.003448,0.293583,0.098622,0.148214,-0.018610,-0.129327,0.029701,0.256966,NaN,NaN,...,0.094742,0.376804,0.321279,NaN,NaN,0.212580,0.260169,NaN,0.254580,0.745420
hyundai,0.042043,-0.102316,-0.034380,0.024789,0.216669,0.135543,-0.122541,-0.169336,0.205020,-0.912826,...,0.530615,0.330169,0.299412,0.569242,0.100385,0.275194,NaN,NaN,0.492684,0.507316
intel,0.125090,0.207181,-0.075009,0.134263,0.077224,0.261944,0.305286,0.153274,-0.133883,NaN,...,0.229873,0.454132,0.471610,0.374688,NaN,0.494387,0.330656,NaN,0.624501,0.375499
bmw,-0.234862,0.113722,0.058844,0.042602,NaN,0.206232,0.006581,-0.170647,0.036271,NaN,...,0.521349,0.579657,0.249247,0.527049,NaN,NaN,NaN,NaN,0.811204,0.188796
starbucks,0.065670,0.384684,0.259640,0.175194,0.245007,0.070400,0.809779,0.511253,NaN,0.500723,...,0.479437,0.235058,0.442646,NaN,0.531541,0.150398,0.261580,NaN,0.652402,0.347598

In [32]:
df_sentiment_total = pd.read_csv('sentiment_overall.csv')
df_sentiment_total[df_sentiment_total['company'] == 'rio-tinto']

      company     value
14  rio-tinto -0.073053

In [51]:
df_similarity_total = pd.read_csv('similarity_overall.csv')

In [30]:
df_linreg = pd.merge(df_linreg, df_sentiment_total, how = 'left', left_on = df_linreg.index, right_on = 'company')

In [59]:
df_linreg = pd.merge(df_similarity_total, df_sample,  how = 'left')

In [60]:
df_linreg[df_linreg['dissimilarity_total'].isnull()]

Empty DataFrame
Columns: [company, sim_score, dissimilarity_total, resource use, emissions, environmental innovation, strategy, average_practice, green_practice, green_communication, discrepancy_index]
Index: []

In [34]:
df_linreg[df_linreg['company'] =='rio-tinto']['discrepancy_index']

0    0.681803
Name: discrepancy_index, dtype: float64

In [64]:
df_linreg

,company,sim_score,dissimilarity_total,resource use,emissions,environmental innovation,strategy,average_practice,green_practice,green_communication,discrepancy_index
0,nextera,0.576124,0.423876,93.43,85.69,63.03,87.01,80.716667,-0.045445,0.061204,0.556465
1,chevron,0.781576,0.218424,74.35,86.22,79.38,93.33,79.983333,-0.106166,0.507573,0.625649
2,ralph-lauren,0.315532,0.684468,86.13,82.59,80.68,92.38,83.133333,0.154656,0.440476,0.580910
3,coca-cola,0.608070,0.391930,72.06,42.13,90.52,99.51,68.236667,-1.078796,0.944055,0.817897
4,mitsubishi,0.029763,0.970237,97.50,67.50,83.33,97.05,82.776667,0.125124,0.770310,0.629939
...,...,...,...,...,...,...,...,...,...,...,...
58,shell,0.481304,0.518696,95.39,97.45,79.38,97.68,90.740000,0.784492,0.814805,0.546050
59,tesla,0.545558,0.454442,56.51,68.65,86.92,78.64,70.693333,-0.875383,-0.529953,0.589042
60,totalenergies,0.305087,0.694913,93.91,98.47,79.38,98.13,90.586667,0.771796,0.846588,0.552119
61,colgate,0.510728,0.489272,99.24,93.57,90.48,97.08,94.430000,1.090026,0.772428,0.498584
62,sonoco,0.296214,0.703786,84.25,54.11,41.04,72.24,59.800000,-1.777357,-0.981973,0.650431

In [29]:
df_linreg.index

Index(['rio-tinto', 'walmart', 'colgate', 'general-mills', 'hp', 'shell',
       'p&g', 'exxon', 'komatsu', 'bayer', 'inditex', 'google', 'diageo',
       'ibm', 'mcdonald', 'tesla', 'mercedes', 'toyota', 'sonoco', 'h&m',
       'totalenergies', 'chipotle', 'coca-cola', 'eversource', 'honda',
       'renault', 'citi', 'dell', 'beiersdorf', 'pepsico', 'airbus', 'henkel',
       'mitsubishi', 'ralph-lauren', 'dupont', 'tesco', 'hershey', 'nike',
       'boeing', 'abb', 'cemex', 'blackrock', 'ford-motor', 'danone', 'enel',
       'volvo', 'volkswagen', 'nestle', 'linde', 'edp', 'schneider-electric',
       'apple', 'mondelez', 'microsoft', 'nextera', 'veolia', 'chevron', 'dhl',
       'adidas', 'hyundai', 'intel', 'bmw', 'starbucks'],
      dtype='object', name='company')

In [39]:
X = df_linreg['value']
y = df_linreg['discrepancy_index']
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      discrepancy_index   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                 -0.007
Method:                 Least Squares   F-statistic:                    0.5653
Date:                Tue, 16 May 2023   Prob (F-statistic):              0.455
Time:                        21:24:18   Log-Likelihood:                 19.086
No. Observations:                  63   AIC:                            -34.17
Df Residuals:                      61   BIC:                            -29.89
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.5379      0.023     23.363      0.000       0.492       0.584
value          0.1560      0.207      0.752      0.455      -0.259       0.571
==============================================================================
Omnibus:                        3.375   Durbin-Watson:                   1.699
Prob(Omnibus):                  0.185   Jarque-Bera (JB):                2.625
Skew:                          -0.302   Prob(JB):                        0.269
Kurtosis:                       3.798   Cond. No.                         9.07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [65]:
X = df_linreg['dissimilarity_total']
y = df_linreg['discrepancy_index']
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      discrepancy_index   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                 -0.007
Method:                 Least Squares   F-statistic:                    0.5653
Date:                Tue, 16 May 2023   Prob (F-statistic):              0.455
Time:                        22:01:22   Log-Likelihood:                 19.086
No. Observations:                  63   AIC:                            -34.17
Df Residuals:                      61   BIC:                            -29.89
Df Model:                           1
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   0.5832      0.062      9.395      0.000       0.459       0.707
dissimilarity_total    -0.0770      0.102     -0.752      0.455      -0.282       0.128
==============================================================================
Omnibus:                        3.375   Durbin-Watson:                   1.569
Prob(Omnibus):                  0.185   Jarque-Bera (JB):                2.625
Skew:                          -0.302   Prob(JB):                        0.269
Kurtosis:                       3.798   Cond. No.                         5.95
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.